###############################################
# AzerothCore Auth Server configuration file #
###############################################
[authserver]

###################################################################################################
# SECTION INDEX
#
#    EXAMPLE CONFIG
#    AUTH SERVER SETTINGS
#    MYSQL SETTINGS
#
###################################################################################################

###################################################################################################
# EXAMPLE CONFIG-示例配置
#
#    Variable
#        Description: Brief description what the variable is doing.
#        Important:   Annotation for important things about this variable.
#        Example:     "Example, i.e. if the value is a string"
#        Default:     10 - (Enabled|Comment|Variable name in case of grouped config options)
#                     0  - (Disabled|Comment|Variable name in case of grouped config options)
#
# Note to developers:
# - Copy this example to keep the formatting.
# - Line breaks should be at column 100.
###################################################################################################

###################################################################################################
# AUTH SERVER SETTINGS
#
#    LogsDir
#        描述:日志目录设置。
#        重要提示:LogsDir需要用引号括起来，因为字符串可能包含空格字符。
#                     日志目录必须存在，否则将禁用日志文件创建。
#        Default:     "" - (日志文件将存储在当前路径中)

LogsDir = "/data/server/log"

#
#    MaxPingTime
#        描述:数据库ping之间的时间(分钟)。
#        Default:     30

MaxPingTime = 30

#
#    RealmServerPort
#        说明:连接认证服务器的TCP端口。
#        Default:     3724

RealmServerPort = 3724

#
#
#    BindIP
#        Description: Bind auth server to IP/hostname
#        Default:     "0.0.0.0" - (Bind to all IPs on the system)

BindIP = "0.0.0.0"

#
#    PidFile
#        说明:认证服务器的PID文件。
#        Example:     "./authserver.pid"  - (Enabled)
#        Default:     ""                  - (Disabled)

PidFile = "./authserver.pid"

#
#    LogLevel
#        描述:服务器控制台级别的日志记录
#        Default:     0 - (Minimum)
#                     1 - (基本)
#                     2 - (详细信息)
#                     3 - (Full/Debug)

LogLevel = 2

#
#    LogFile
#        说明:主服务器日志的日志文件。
#        Default:     "Auth.log" - (Enabled)
#                     ""           - (Disabled)

LogFile = "Auth.log"

#
#    Debug Log Mask
#        描述:位掩码，决定哪些调试日志输出(级别3)将被记录。
#        Possible flags:
#
#                  64 - 任何与网络输入/输出相关的东西，
#                       比如包处理程序和网络代码日志
#
#                       只需将这些值相加就可以创建位掩码。
#                       有关更多信息，请参阅日志.h中的enum DebugLogFilters
#
#             Default: 0 (nothing)

DebugLogMask = 64

#
#    SQLDriverLogFile
#        描述:SQL驱动程序事件的日志文件。
#        Example:     "SQLDriver.log" - (Enabled)
#        Default:      ""             - (Disabled)

SQLDriverLogFile = "SQLDriver.log"

#
#    SQLDriverQueryLogging
#        说明:日志SQL查询到SQLDriverLogFile和控制台。
#        Default:     0 - (Disabled, Query errors only)
#                     1 - (启用，完整查询日志记录-可能会对性能产生影响)

SQLDriverQueryLogging = 0

#
#    LogTimestamp
#        说明:在服务器日志文件名中添加时间戳。
#                     Logname_YYYY-MM-DD_HH-MM-SS.Ext for Logname.Ext
#        Default:     0 - (Disabled)
#                     1 - (Enabled)

LogTimestamp = 1

#
#    LogFileLevel
#        说明:服务器文件级别的日志记录
#        Default:     0 - (Minimum)
#                     1 - (Basic)
#                     2 - (详细信息)
#                     3 - (Full/Debug)

LogFileLevel = 2

#
#    LogColors
#        说明:日志信息的颜色(格式:“normal basic detail debug”)。
#        Colors:      0  - Black
#                     1  - Red
#                     2  - Green
#                     3  - Brown
#                     4  - Blue
#                     5  - Magenta
#                     6  - Cyan
#                     7  - Grey
#                     8  - Yellow
#                     9  - Lred
#                     10 - Lgreen
#                     11 - Lblue
#                     12 - Lmagenta
#                     13 - Lcyan
#                     14 - White
#        Example:     "13 11 9 5" - (Enabled)
#        Default:     ""          - (Disabled)

LogColors = "13 11 9 5"

#
#    EnableLogDB
#        说明:向数据库(LogDatabaseInfo)写入日志消息。
#        Default:     0 - (Disabled)
#                     1 - (Enabled)

EnableLogDB = 0

#
#    DBLogLevel
#        描述:数据库日志的日志级别。
#        Default:     1 - (Basic)
#                     0 - (Minimum)
#                     2 - (Detail)
#                     3 - (Full/Debug)

DBLogLevel = 1

#
#    UseProcessors
#        描述:基于Windows和Linux的多处理器系统的处理器掩码。
#        Example:  For a computer with 3 CPUs:
#                     1 - 1st CPU only
#                     2 - 2nd CPU only
#                     4 - 3rd CPU only
#                     6 - 2nd + 3rd CPUs, because "2 | 4" -> 6
#        Default:     0  - (由操作系统选择)
#                     1+ - (Bit mask value of selected processors)

UseProcessors = 0

#
#    ProcessPriority
#        说明:Windows和Linux系统的进程优先级设置。
#        详细信息:在Linux上，使用了一个很好的值-15。(需要超级用户)。在Windows上，进程设置为高级。
#        Default:     0 - (Normal)
#                     1 - (High)

ProcessPriority = 0

#
#    RealmsStateUpdateDelay
#        描述:领域列表更新之间的时间(秒)。
#        Default:     20 - (Enabled)
#                     0  - (Disabled)

RealmsStateUpdateDelay = 20

#
#    WrongPass.MaxCount
#        描述:登录尝试错误的密码之前，帐户或IP将被禁止的次数。
#        Default:     0  - (Disabled)
#                     1+ - (Enabled)

WrongPass.MaxCount = 5

#
#    WrongPass.BanTime
#        时间(秒)禁止帐户或IP无效登录尝试。
#        Default:     600 - (10 分钟)
#                     0   - (Permanent ban)

WrongPass.BanTime = 600

#
#    WrongPass.BanType
#        说明:禁止无效登录尝试的类型。
#        Default:     0 - (Ban IP)
#                     1 - (Ban Account)

WrongPass.BanType = 0

#
#    WrongPass.Logging
#        说明：另外尝试记录错误的密码
#        Default:     0 - (Disabled)
#                     1 - (Enabled)

WrongPass.Logging = 0


#
###################################################################################################

###################################################################################################
# MYSQL SETTINGS
#
#    LoginDatabaseInfo
#        描述:域服务器的数据库连接设置。
#        Example:     "hostname;port;username;password;database"
#                     ".;somenumber;username;password;database" - (Use named pipes on Windows
#                                                                 "enable-named-pipe" to [mysqld]
#                                                                 section my.ini)
#                     ".;/path/to/unix_socket;username;password;database" - (use Unix sockets on
#                                                                           Unix/Linux)
#        Default:     "127.0.0.1;3306;acore;acore;auth"

LoginDatabaseInfo = "127.0.0.1;3310;root;A111111a;auth"

#
#    LoginDatabase.WorkerThreads
#        描述:用于处理异步(延迟)MySQL语句的工作线程数量。
#                     每个工作线程都通过自己的连接镜像到
#        Default:     1

LoginDatabase.WorkerThreads = 1

#
#    LoginDatabase.SynchThreads
#        描述:需要处理的MySQL连接数量。
#        Default:     1 - (LoginDatabase.WorkerThreads)
#

LoginDatabase.SynchThreads = 1

#
###################################################################################################
